.section-four {
  padding: 70px 0px;
  background-color: #f7f5f1;
  text-align: center;
}
.section-four .top-text {
  text-align: center;
  margin-bottom: 10px;
}
.section-four .top-text .p-with-img p {
  font-size: 35px;
  padding: 0 !important;
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.7176470588);
  font-family: "Caudex", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-four .top-text .p-with-img p img {
  vertical-align: middle;
  max-width: 100%;
}
.section-four .top-text h3 {
  font-size: 60px;
  font-family: "Caudex", serif;
  font-weight: bolder;
}
.section-four .top-text .lastpara {
  color: rgba(0, 0, 0, 0.6156862745);
}
.section-four .card-sec {
  transition: transform 0.5s ease-in-out;
  background-color: #fff;
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  gap: 5px;
}
.section-four .card-sec .up {
  color: rgba(0, 0, 0, 0.5764705882);
}
.section-four .card-sec:hover {
  transform: scale(1.09);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
.section-four .card-sec:hover .dwn .arrow {
  transform: translateX(10px);
  transition: transform 0.5s;
}
.section-four .card-sec img {
  max-width: 20%;
  max-height: 100%;
  margin-bottom: 15px;
}

.sectionFv {
  text-align: center;
  padding: 70px 0px;
}
.sectionFv img {
  max-width: 150px;
  max-height: 150px;
}
@media (max-width: 320px) {
  .sectionFv img {
    max-width: 80px !important;
    max-height: 80px !important;
  }
}
.sectionFv .text-se {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.sectionFv .text-se h6 {
  font-size: 30px;
}
@media (max-width: 320px) {
  .sectionFv .text-se h6 {
    font-size: 20px !important;
  }
}
.sectionFv .card-se {
  display: flex;
  align-items: center !important;
  justify-content: space-evenly;
  text-align: start !important;
}
.sectionFv .buttonDiscover {
  padding: 15px 25px;
  margin-top: 25px;
  border: 0px;
  outline: 0;
  background-color: #3f271e;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
}
.sectionFv .buttonDiscover:hover {
  background-color: rgba(63, 39, 30, 0.9254901961);
}

.sectionsix .containerr {
  width: 100%;
}
.sectionsix .img-pa {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: relative;
}
.sectionsix .img-pa img {
  width: 100%;
  height: 100%;
}
.sectionsix .img-pa::after {
  content: "";
  position: absolute;
  z-index: 9999;
  background-color: rgba(63, 39, 30, 0.7607843137);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
.sectionsix .img-pa:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.footer {
  padding: 70px 0px;
  background-color: #3f271e;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.footer ul li {
  list-style: none;
  color: #fff;
  padding: 0;
  margin-bottom: 10px;
}
.footer ul li h6 {
  font-size: 30px;
}
.footer .lliii {
  gap: 10px;
}/*# sourceMappingURL=Sectionfour.scoped.css.map */